.imglogo{
    width: 60px;
}

.encabezado{
    background-color: rgba(215, 9, 30, 0.893);
    color: rgb(240, 226, 32);
}
.imgenvio{
    border-radius: 50%;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
     

}
.imgmetp{
    border-radius: 50%;
    width: 400px; 
}
.video{
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    width: 500px;
    height: 300px;
}
.saludo p {
    margin: 15px;
    text-align: center;
    color:rgba(215, 9, 30, 0.963);

}
body{
    background-color: rgba(237, 213, 34, 0.474);
}
.link  a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: aliceblue;
}